<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Chat App</title>
        <link rel="stylesheet" type="text/css" href="../styles/chat.css">
    </head>

    <body>
        <div class="sidebar">
            <h2>Friends</h2>
            <ul id="chat-rooms"></ul>

            <div class="add-friend">
                <input type="email" id="friend-input" placeholder="Enter Friend email">
                <button id="add-friend-button">Add Friend</button>
            </div>

        </div>

        <div class="chat-area">
            <div id="chat-messages">
            </div>

            <div class="send-message">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
                integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
        <script src="../scripts/chat.js"></script>
    </body>

</html>
