<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login - Chat App</title>
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
    </head>
    
    <body>
        <h1>Login to Chat App</h1>
        <form id="login-form">
            <input type="email" id="email-input" placeholder="Email" required>
            <input type="password" id="password-input" placeholder="Password" required>

            <div class="button-container">
                <button type="submit" id="login-button">Login</button>
                <button id="back-button">Back</button>
            </div>
              
        </form>

        <script src="../scripts/login.js"></script>
    </body>
</html>
