<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register - Chat App</title>
        <link rel="stylesheet" type="text/css" href="../styles/register.css">
    </head>
    <body>
        <h1>Register for Chat App</h1>
        <form id="register-form">
            
            <input type="text" id="first-name-input" placeholder="First Name" required>
            <input type="text" id="last-name-input" placeholder="Last Name" required>
            <input type="email" id="email-input" placeholder="Email" required>
            <input type="password" id="password-input" placeholder="Password" required>
            
            <div class="button-container">
                <button type="submit" id="register-button">Register</button>
                <button id="back-button">Back</button>
            </div>
              
        </form>

        <script src="../scripts/register.js"></script>
    </body>
</html>
